<!DOCTYPE html>
<html>
	<head>
		<title>About page</title>
		<link rel="icon" href="/img/weather.png">
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/uikit.min.css" />
		<link rel="stylesheet" href="/css/styles.css">
		
	</head> 
	<body>
		{{>header}}	
		<div class="main-content">
			
			<div class="uk-container uk-text-center">
				<p>This site was created by Harsh Gupta.<br/>
					It uses map-box api and weather api to do so<br/>
					A live chat is on the way using socket.io<br/>
					Maps support Coming Soon
				</p>
				<img src="\img\_DSC4827.jpg" width="200px" height="200px" alt="Creator_Pic">
			</div>
			<div class="uk-child-width-1-2@s" uk-grid>
				<div>
					<div uk-grid>
						<div class="uk-width-auto@m">
							<ul class="uk-tab-left" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
								<li><a href="#">Nothing Here</a></li>
								<li><a href="#">Nothing Here 2</a></li>
								<li><a href="#">Nothing here 3</a></li>
							</ul>
						</div>
						<div class="uk-width-expand@m">
							<ul id="component-tab-left" class="uk-switcher">
								<li>Whats else would you want</li>
								<li>I am Straight</li>
								<li>Currently,I am single</li>
							</ul>
						</div>
					</div>
				</div>
				<div>
					<div uk-grid>
						<div class="uk-width-auto@m uk-flex-last@m">
							<ul class="uk-tab-right" uk-tab="connect: #component-tab-right; animation: uk-animation-fade">
								<li><a href="#">Need Some Idea</a></li>
								<li><a href="#">Need Some Idea2</a></li>
								<li><a href="#">Need Some Idea3</a></li>
							</ul>
						</div>
						<div class="uk-width-expand@m">
							<ul id="component-tab-right" class="uk-switcher">
								<li>I have Done my job</li>
								<li>Are you a girl</li>
								<li>If yes Please approach me<a href="" uk-icon="heart"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		
       {{>footer}}
	    <script src="js/uikit.min.js"></script>
		<script src="js/uikit-icons.min.js"></script>
		<script src="/js/about.js"></script>	
	</body>
</html>