<!DOCTYPE html>
<html>
	<head>
		<title>About page</title>
		<link rel="icon" href="/img/weather.png">
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/uikit.min.css" />
		<link rel="stylesheet" href="/css/styles.css">
		<script src="js/uikit.min.js"></script>
		<script src="js/uikit-icons.min.js"></script>
	</head> 
	<body>
		<div class="main-content">
			{{>header}}	
			<div class="uk-container uk-text-center">
				<p>This site was created by Harsh Gupta.<br/>
					It uses map-box api and weather api to do so<br/>
					A live chat is on the way using socket.io<br/>
					Maps support Coming Soon
				</p>
				<img src="\img\_DSC4827.jpg" width="200px" height="200px" alt="Creator_Pic">
			</div>
		</div>
	
		
       {{>footer}}
		<script src="/js/getCookie.js"></script>
		<script src="/js/LoginButton.js"></script>
			
	</body>


</html>