<!DOCTYPE html>
<html>
	<head>
		<title>Aout page</title>
		<link rel="icon" href="/img/weather.png">
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>
	</head>
	<body>
		<div class="main-content">
			{{>header}}		
			<p>This site was created by Harsh Gupta.<br/>
				It uses map-box api and weather api to do so
			</p>
			<img src="web-servers\public\img\_DSC4827.jpg" alt="My pic"/>
		</div>
	
		
       {{>footer}}
		
			
	</body>
</html>