<!DOCTYPE html>
<html>
	<head>
		<title>Access Denied</title>
		<link rel="icon" href="/img/weather.png">
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/uikit.min.css" />
		<link rel="stylesheet" href="/css/styles.css">
		
	</head>
	<body>
		{{>header}}		
		<div class="main-content">
			
			<div class="uk-container uk-text-center">
				<p>{{message}}</p>
				<h4>Login Required <br>
					You will be redirected shortly to the homepage.
					If not redirected click <a href="/">here</a>
				</h4>
			</div>
		</div>
		
        {{>footer}}	
		<script>
			setTimeout(()=>{
				location.replace('/')
			},3000);
		</script>
		<script src="js/uikit.min.js"></script>
		<script src="js/uikit-icons.min.js"></script>
		<script src="/js/accessdenied.js"></script>
	</body>
    
</html>