<!DOCTYPE html>
<html>
	<head>
		<title>Error404	</title>
		<link rel="icon" href="/img/weather.png">
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/uikit.min.css" />
		<link rel="stylesheet" href="/css/styles.css">
		
	</head>
	<body>
		{{>header}}		
		<div class="main-content">
			
			<div class="uk-container uk-text-center">
				<p>{{message}}</p>
			</div>
		</div>
		
        {{>footer}}
		<script src="js/uikit/uikit.min.js"></script>
		<script src="js/uikit/uikit-icons.min.js"></script>
		<script src="/js/sanitize.js"></script>
		<script type="module" src="/js/error404.js"></script>
	</body>
	
</html>