<!DOCTYPE html>
<html>
	<head>
		<title>Error page</title>
		<link rel="icon" href="/img/weather.png">
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/uikit.min.css" />
		<link rel="stylesheet" href="/css/styles.css">
		
	</head>
	<body>
		<div class="main-content">
			{{>header}}		
			<div class="uk-container uk-text-center">
				<p>{{message}}</p>
			</div>
		</div>
		
        {{>footer}}
		<script src="js/uikit.min.js"></script>
		<script src="js/uikit-icons.min.js"></script>
		<script src="/js/getCookie.js"></script>
		<script src="/js/LoginButton.js"></script>
			
	</body>
	
</html>