<!DOCTYPE html>
<html>
	<head>
		<title>Aout page</title>
		<link rel="icon" href="/img/weather.png">
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/uikit.min.css" />
		<link rel="stylesheet" href="/css/styles.css">
		<script src="js/uikit.min.js"></script>
		<script src="js/uikit-icons.min.js"></script>
		<script src="/js/app2.js"></script>
	</head>
	<body>
		<div class="main-content">
			{{>header}}		
			<p>{{message}}</p>
		</div>
		
        {{>footer}}
		
			
	</body>
</html>