<!DOCTYPE html>
<html>
	<head>
		<title>Login Page</title>
		<link rel="icon" href="/img/weather.png">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/uikit.min.css" />
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		{{>header}}	
		<div class="main-content">
			
			<div class="uk-container uk-text-center">
				<p><strong>Your Password Credentials</strong> </p>
				<form>
                    <label for="NewPassword" >Password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</label>
					<input id="NewPassword" type="password" placeholder="" size="25"  onchange="sanitizeInput(this);" uk-tooltip="title:New Password(Must be atlaest 8 characters long); pos: left;duration: 500;delay: 200" autocomplete="password"/>
					<span id="spanPassword1" class="uk-badge"></span><br/>
                    <label for="NewPassword" >Password(Retype) : </label>
					<input id="NewPassword2" type="password" placeholder="" size="25"  onchange="sanitizeInput(this);" uk-tooltip="title:New Password(Must be the same as above; pos: left;duration: 500;delay: 200" autocomplete="password"/>	
					<span id="spanPassword2" class="uk-badge"></span><br/>
                    <button id="SubmitDetails">Submit</button>
					{{!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> --}}
				</form>
				
				<pre id="locationpara"> </pre>
			</div>
		</div>		
		
		{{>footer}}
		<script src="js/uikit.min.js"></script>
		<script src="js/uikit-icons.min.js"></script>
		<script src="/js/forgotpassword.js"></script>
	</body>
</html>	
		
