<!DOCTYPE html>
<html>
	<head>
		<title>Password Change Page</title>
		<link rel="icon" href="/img/weather.png">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/uikit.min.css" />
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		{{>header}}	
		<div class="main-content">
			
			<div class="uk-container uk-text-center">
				<p><strong>Password Reset Request</strong> </p>
				<form>
                    <input class="uk-input uk-center uk-width-1-2" id="emailLogin" type="email" placeholder="email" />
        			<button id="Forgotpassword" class="uk-button uk-center uk-width-1-2">Forgot Password</button>
					{{!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> --}}
				</form>
				
				<pre id="locationpara"> </pre>
			</div>
		</div>		
		{{>footer}}
		<script src="js/uikit/uikit.min.js"></script>
		<script src="js/uikit/uikit-icons.min.js"></script>
		<script src="/js/sanitize.js"></script>
		<script type="module" src="/js/forgotpassword.js"></script>
	</body>
</html>	
		
