<!DOCTYPE html>
<html>
	<head>
		<title>THs is my webpage</title>
		<link rel="icon" href="/img/weather.png">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/uikit.min.css" />
		<link rel="stylesheet" href="/css/styles.css">
		<script src="js/uikit.min.js"></script>
		<script src="js/uikit-icons.min.js"></script>
        
	</head>
	<body>
		<div class="main-content">
			{{>header}}		
			<p>Use this site to get your weather</p>
			<form>
				<input id="inputLocation" type="" placeholder="location" maxlength="100" onchange="sanitizeInput(this);"/>
				<button >Search</button>
			</form>
			<pre id="locationpara"> </pre>
			<img style="vertical-align:middle;" src="" id="imageBox"/><pre style="vertical-align:middle; display:inline;" id="currentpara"></pre>
			<p id="forecastpara"></p>
		</div>
		<h5 uk-scrollspy="cls: uk-animation-fade; delay: 500; repeat: true">User Task API(Coming Soon)<a href="">Here</a></h4>
		<h5 uk-scrollspy="cls: uk-animation-fade; delay: 500; repeat: true">My own Live Chat App(No sign Up required For now)<a href="https://harshnodechatapp.herokuapp.com/">Here</a></h4>
		{{>footer}}
		<script src="/js/sanitize.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/app2.js"></script>

	</body>
</html>