<!DOCTYPE html>
<html>
	<head>
		<title>0907Harsh</title>
		<link rel="icon" href="/img/weather.png">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/uikit.min.css" />
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="stylesheet" href="/css/autocomplete.css">
		<script src="js/uikit.min.js"></script>
		<script src="js/uikit-icons.min.js"></script>
        
	</head>
	<body>
		<div class="main-content">
			{{>header}}		
			<p>Use this site to get your weather</p>
			<form autocomplete="off">
					<input list="Autocompleter" id="inputLocation" class="uk-width-1-2" type="" placeholder="location" maxlength="100" onchange="sanitizeInput(this);"/>
					<datalist class="scrollable" id="Autocompleter">
						<option>Miami</option>
						<option>Delhi</option>
						<option>Arctic Ocean</option>
						<option>Alasks</option>
						<option>Florida</option>
						<option>Miami</option>
						<option>Delhi</option>
						<option>Miami</option>
						<option>Delhi</option>
						<option>Arctic Ocean</option>
						<option>Alasks</option>
						<option>Florida</option>
						<option>Miami</option>
						<option>Delhi</option>
						<option>Miami</option>
						<option>Delhi</option>
						<option>Arctic Ocean</option>
						<option>Alasks</option>
						<option>Florida</option>
						<option>Miami</option>
						<option>Delhi</option>
					</datalist>
					<button id="submitform">Search</button>
			</form>
			<pre id="locationpara"> </pre>
			<img style="vertical-align:middle;" src="" id="imageBox"/><pre style="vertical-align:middle; display:inline;" id="currentpara"></pre>
			<p id="forecastpara"></p>
			
		</div>
		{{>footer}}
		<script src="/js/sanitize.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/getCookie.js"></script>
		<script src="/js/LoginButton.js"></script>
		<script src="/js/app2.js"></script>

	</body>
</html>