<!DOCTYPE html>
<html>
	<head>
		<title>0907Harsh</title>
		<link rel="icon" href="/img/weather.png">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/uikit.min.css" />
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="stylesheet" href="/css/autocomplete.css">
		
		<script src="js/uikit.min.js"></script>
		<script src="js/uikit-icons.min.js"></script>
	</head>
	<body>
		<div class="main-content ">
			{{>header}}		
			<div class="uk-container uk-text-center">
				<p>Use this site to get your Weather</p>
				<form autocomplete="off">
						<input list="Autocompleter" id="inputLocation" class="uk-width-1-2" type="" placeholder="location" maxlength="100" onchange="sanitizeInput(this);"/>
						<datalist class="scrollable" id="Autocompleter">
							<option>Miami</option>
							<option>Delhi</option>
							<option>Arctic Ocean</option>
							<option>Alasks</option>
							<option>Florida</option>
							<option>Delhi</option>
						</datalist>
						<button id="submitform">Search</button>
				</form>
				<div uk-lightbox>
					 Support Coming Soon
					 <a class="uk-button uk-button-default" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4740.819266853735!2d9.99008871708242!3d53.550454675412404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3f9d24afe84a0263!2sRathaus!5e0!3m2!1sde!2sde!4v1499675200938" data-caption="Google Maps" data-type="iframe">Google Maps</a>
				</div>

				<pre id="locationpara"> </pre>
				<img style="vertical-align:middle;" src="" id="imageBox"/><pre style="vertical-align:middle; display:inline;" id="currentpara"></pre>
				<p id="forecastpara"></p>
			</div>
		</div>
		{{>footer}}
		
		<script src="/js/sanitize.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/getCookie.js"></script>
		<script src="/js/LoginButton.js"></script>
		<script src="/js/app2.js"></script>

	</body>
</html>