<!DOCTYPE html>
<html>
	<head>
		<title>THs is my webpage</title>
		<link rel="icon" href="/img/weather.png">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/uikit.min.css" />
		<link rel="stylesheet" href="/css/styles.css">
		<script src="js/uikit.min.js"></script>
		<script src="js/uikit-icons.min.js"></script>
        
	</head>
	<body>
		<div class="main-content">
			{{>header}}		
			<p>Use this site to get your weather</p>
			<form>
				<input type="" placeholder="location"/>
				<button >Search</button>
			</form>
			<pre id="locationpara"> </pre>
			<img style="vertical-align:middle;" src="" id="imageBox"/><pre style="vertical-align:middle; display:inline;" id="currentpara"></pre>
			<p id="forecastpara"></p>
		</div>
		
		
		{{>footer}}
		<script src="/js/app2.js"></script>
	</body>
</html>