<!DOCTYPE html>
<html>
	<head>
		<title>Login Page</title>
		<link rel="icon" href="/img/weather.png">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/uikit.min.css" />
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		{{>header}}	
		<div class="main-content">
			
			<div class="uk-container uk-text-center">
				<p><strong>Your Login Credentials</strong> </p>
				<form>
					<div class="uk-width-1-1">
						<label for="EmailUser" class="uk-width-1-6">Email : </label>
						<input id="EmailUser" type="email" placeholder="Email" size="25"  onchange="sanitizeInput(this);" uk-tooltip="title: Must be a valid Email; pos: right;duration: 500;delay: 200" autocomplete="username"/><br/>
					</div><br/>
					<label for="Password">Password : </label><input id="Password" type="password" placeholder="password" minlength="6" maxlength="10"  onchange="sanitizeInput(this);" autocomplete="current-password" /><br/>
					<br/>
					<button id="SubmitDetails">Submit</button>
					{{!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> --}}
				</form>
				
				<pre id="locationpara"> </pre>
				<img style="vertical-align:middle;" src="" id="imageBox"/><pre style="vertical-align:middle; display:inline;" id="currentpara"></pre>
				<p id="forecastpara"></p>
			</div>
		</div>		
		
		{{>footer}}
		<script src="js/uikit.min.js"></script>
		<script src="js/uikit-icons.min.js"></script>
		<script src="/js/login.js"></script>
	</body>
</html>	
		
