<!DOCTYPE html>
<html>
	<head>
		<title>THs is my webpage</title>
		<link rel="icon" href="/img/weather.png">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        
	</head>
	<body>
		
		<script src="/socket.io/socket.io.js"></script>
		{{!-- <script src="/js/fetch.js"></script> --}}
	</body>
</html>	
		
