<!DOCTYPE html>
<html>
	<head>
		<title>0907Harsh</title>
		<link rel="icon" href="/img/weather.png">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/uikit.min.css" />
		<link rel="stylesheet" href="/css/styles.css">
		
    </head>
	<body>
		<div class="main-content">
			{{>header}}
			<div>	
				<div>Upload Profile Picture: </div>
				<form >
					{{!-- action="/USERS/me/avatars" enctype="multipart/form-data" method="POST">  --}}
						
						<img id="Previewer" src="/img/default_profile_pic.png" width="250px" height="250px" alt="Uploaded Images" class="uk-background" uk-img/>
						<input type="file" name="avatar" id="myfile" style="display: flex;" required /> <br> 
				
				</form> 
				<a id="SkipButton" class="uk-button uk-button-secondary" href='/profile'>Skip</a>
				<button type="submit" name="submit" id="imageAdder"> Upload Image </button>
				<a id="NextButton" class="uk-button uk-button-primary" >Next</a>

			</div>	
			<pre id="locationpara"> </pre>
			<p id="forecastpara"></p>			
		</div>
		{{>footer}}
		<script src="/js/uikit.min.js"></script>
		<script src="/js/uikit-icons.min.js"></script><script src="/js/app.js"></script>
		<script src="/js/sanitize.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/getimages.js"></script>
	</body>
</html>