<!DOCTYPE html>
<html>
	<head>
		<title>0907Harsh</title>
		<link rel="icon" href="/img/weather.png">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/uikit.min.css" />
		<link rel="stylesheet" href="/css/styles.css">
		<script src="js/uikit.min.js"></script>
		<script src="js/uikit-icons.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
	</head>
	<body>
		<div class="main-content">
			{{>header}}		
			<p>Use this site to get your weather</p>
			<form>
				<input id="inputLocation" type="" placeholder="location" maxlength="100" size="50" onchange="sanitizeInput(this);"/>
				<button >Search</button>
			</form>
			<pre id="locationpara"> </pre>
			<img style="vertical-align:middle;" src="" id="imageBox"/><pre style="vertical-align:middle; display:inline;" id="currentpara"></pre>
			<p id="forecastpara"></p>
			
		</div>
		{{>footer}}
		<script src="/js/sanitize.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/app2.js"></script>

	</body>
</html>