<!DOCTYPE html>
<html>
	<head>
		<title>Profile Pic Uploader</title>
		<link rel="icon" href="/img/weather.png">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/uikit.min.css" />
		<link rel="stylesheet" href="/css/styles.css">
		
    </head>
	<body>
		{{>header}}
		<div class="main-content">
			
			<div class="uk-container uk-text-center">	
				<div><strong> Profile Picture:</strong> </div>
				<form >
					{{!-- action="/USERS/me/avatars" enctype="multipart/form-data" method="POST">  --}}
						
						<img style="z-index:auto" id="Previewer" src="/img/default_profile_pic.png" width="250px" height="250px" alt="Uploaded Images" class="uk-background" uk-img/>
						 <div class="uk-margin" uk-margin>
							<div uk-form-custom="target: true">
								<input type="file"  name="avatar" id="myfile">
								<input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
							</div>
						</div>

				</form> 
				<a id="SkipButton" class="uk-button uk-button-secondary" href='/profile'>Skip</a>
				<button type="submit" name="submit" id="imageAdder"> Upload Image </button>
				<a id="NextButton" class="uk-button uk-button-primary" >Next</a>
				<pre id="locationpara"> </pre>
				<p id="forecastpara"></p>	
			</div>	
					
		</div>
		{{>footer}}
		<script src="/js/uikit.min.js"></script>
		<script src="/js/uikit-icons.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script type="module" src="/js/playtar.js"></script>
	</body>
</html>