<!DOCTYPE html>
<html>
	<head>
		<title>Profile page</title>
		<link rel="icon" href="/img/weather.png">
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/uikit.min.css" />
		<link rel="stylesheet" href="/css/styles.css">
	</head> 
	<body>
		<div id="fb-root"></div>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0&appId=1254766721554706&autoLogAppEvents=1" nonce="chl6v8vF"></script>
		{{>header}}		
		<div class="main-content">
			
			<div class="uk-container uk-text-center">
				<h3 id="Show_Profile"></h3>
				<div>
					{{!-- <label for="Show_Name" class="">Name  : </label> <input  id="Show_Name" type="text/plain" placeholder="Name" maxlength="14" size="12"><br> --}}
					{{!-- <label for="Show_Age">Age     : </label><input  id="Show_Age" type="number" placeholder="Age" maxlength="3"><br> --}}
					{{!-- <label for="Show_ID">Email  : </label>  <input  id="Show_ID" type="email" placeholder="Email" size="25"><br> --}}
					
				</div>
			</div>
				<div class="uk-grid-small uk-height-match" uk-grid>
					<div class="uk-width-1-2@s uk-flex uk-flex-center uk-flex-right@s"> 
						<div class="uk-inline">
							<img id="Previewer" src="/img/default_profile_pic.png" width="250px" height="250px" alt="Uploaded Images" class="uk-background" uk-img/>
							<span style="margin:0px;padding:5px;" class="uk-overlay uk-position-bottom-right"><a href="/avatars" class="uk-icon-button" uk-icon="icon: camera; ratio: 1.3"></a></span>
						</div>	
					</div>
					<div class="uk-width-1-2@s" style="padding-left: 40px;padding-top:20px; ">
						<div class="uk-width-1-1" uk-grid>
							<label for="Show_Name" class="uk-width-1-3 uk-width-1-4@m uk-width-1-6@l">Name</label>
							<input id="Show_Name"  type="text/plain" placeholder="Name" maxlength="14" size="12" disabled>
						</div>
						<br/>
						<div class="uk-width-1-1" uk-grid>
							<label for="Show_Age" class="uk-width-1-3 uk-width-1-4@m uk-width-1-6@l">Age</label>
							<input  id="Show_Age" type="number" placeholder="Age" maxlength="3" disabled>
						</div>
						<br/>
						<div class="uk-width-1-1" uk-grid>
							<label for="Show_ID" class="uk-width-1-3 uk-width-1-4@m uk-width-1-6@l" >Email</label>
							<input  id="Show_ID"  type="email" placeholder="Email" size="25" disabled>
						</div>
						<br/>
						<button id="changeSaver" class="uk-buttton uk-flex uk-flex-center" disabled> Save Changes</button>
					</div>
				</div>
				<br/>
				<div class="uk-text-center">
					<button id="UpdateProfile" class="uk-buttton">Update</button>
					<button id="LogoutButton" class="uk-buttton">Logout</button>
					
				</div>
		</div>
	
        
       {{>footer}}
	   <script src="js/uikit.min.js"></script>
		<script src="js/uikit-icons.min.js"></script>
        <script src="/js/profile.js"></script>
	</body>
</html>