<!DOCTYPE html>
<html>
	<head>
		<title>About page</title>
		<link rel="icon" href="/img/weather.png">
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/uikit.min.css" />
		<link rel="stylesheet" href="/css/styles.css">
		<script src="js/uikit.min.js"></script>
		<script src="js/uikit-icons.min.js"></script><script src="/js/app.js"></script>
	</head> 
	<body>
		<div class="main-content">
			{{>header}}		
			<h3 id="Show_Profile"></h3>
			<pre>
			<label>Name  : </label><input id="Show_Name" type="text/plain" placeholder="Name" maxlength="14" size="12"><br>
			<label>Age     : </label><input id="Show_Age" type="number" placeholder="Age" maxlength="3"><br>
			<label>Email  : </label><input id="Show_ID" type="email" placeholder="Email" size="25"><br>
			</pre>
			<button id="LogoutButton" class="uk-buttton">Logout</button>
		</div>
	
        
       {{>footer}}
		
        <script src="/js/profile.js"></script>
	</body>
</html>