<!DOCTYPE html>
<html>
	<head>
		<title>THs is my webpage</title>
		<link rel="icon" href="/img/weather.png">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/uikit.min.css" />
		<link rel="stylesheet" href="/css/styles.css">
		<script src="js/uikit.min.js"></script>
		<script src="js/uikit-icons.min.js"></script>
        
	</head>
	<body>
		<div class="main-content">
			{{>header}}		
			<p>Use this site to get Recipe</p>
			<form id="query-form">
					<label for="ingredients">Ingredients (commas seperated):</label><input class="textfield uk-width-1-1@m" id="ingredients" type="text" name="ingredients" placeholder="e.g. beef, potato (optional)" onChange="sanitizeInput(this);" />
					<label for="contains">Dish Name Contains (no commas):</label><input class="textfield uk-width-1-1@m" id="contains" type="text" name="contains" placeholder="e.g. spaghetti (optional)" onChange="sanitizeInput(this);" /></div>
					<br />
					<div class="uk-width-1-2@s">
					<button class="uk-width-1-5 uk-width-1-5@s uk-width-1-6@l" id="resetButton" style="margin:10px;" onClick="this.form.reset();">Reset</button>
					<button class="uk-width-1-5 uk-width-1-5@s  uk-width-1-6@l" type="submit" value="Search ..." id="searchButton">Submit</button>
					</div>
			</form>
			<pre id="locationpara"> </pre>
			<pre style="vertical-align:middle; display:inline;" id="currentpara"></pre>
			<pre id="forecastpara"></pre>
		</div>
		<h5 uk-scrollspy="cls: uk-animation-fade; delay: 500; repeat: true">User Task API(Coming Soon)<a href="">Here</a></h4>
		<h5 uk-scrollspy="cls: uk-animation-fade; delay: 500; repeat: true">My own Live Chat App(No sign Up required For now)<a href="https://harshnodechatapp.herokuapp.com/">Here</a></h4>
		{{>footer}}
		<script src="/js/sanitize.js"></script>
		<script src="/js/recipe.js"></script>

	</body>
</html>