<!DOCTYPE html>
<html>
	<head>
		<title>Recipe Engine</title>
		<link rel="icon" href="/img/weather.png">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/uikit.min.css" />
		<link rel="stylesheet" href="/css/styles.css">
	
        
	</head>
	<body>
		{{>header}}
			<div class="main-content">
						
				<div class="uk-container uk-text-center">
					<h5><strong>Find Your Favourite Recipe</strong></h5>
					<form id="query-form"  uk-grid>
							<label for="ingredients" class="uk-width-1-3@s  uk-grid-margin">Ingredients (commas seperated):</label><input class="textfield uk-width-2-3@s" id="ingredients" type="text" name="ingredients" placeholder="e.g. beef, potato (optional)" onChange="sanitizeInput(this);" />
							<label for="contains"  class="uk-width-1-3@s">Number of Dishes:</label><input class="textfield uk-width-2-3@s" id="contains" type="text" name="contains" placeholder="e.g. 5,10,20 etc..." onChange="sanitizeInput(this);" />
							<div class="uk-align-center" >
								<button style="margin:20px;" id="resetButton" onClick="this.form.reset();">Reset</button>
								<button style="margin:20px;" id="searchButton" type="submit" value="Search ..." >Submit</button>
							</div>
					</form>
					
					
				</div>
			</div>
			<div class="uk-width-1-1" id="locationpara" uk-grid> </div>
					<pre id="currentpara"></pre>
					<pre id="forecastpara"></pre>
			{{>footer}}
		<script src="js/uikit.min.js"></script>
		<script src="js/uikit-icons.min.js"></script>
		<script src="/js/sanitize.js"></script>
		<script src="/js/recipe.js"></script>
		<script src="/js/getCookie.js"></script>
		<script src="/js/LoginButton.js"></script>
	</body>
</html>