<!DOCTYPE html>
<html>
<head>
<title>Facebook Login JavaScript Example</title>
<meta charset="UTF-8">
</head>
<body>
<script>
 {

  const data={age:20,password:'PrdisNew'}
  console.log(data.password)
  fetch('/profile',{
    method: 'PATCH',
    headers: {
     'Content-Type': 'application/json'
    // 'Content-Type': 'application/x-www-form-urlencoded',
   },
   body:JSON.stringify(data)
  }).then((response)=>{
    console.log(response.status)
  })
  }
</script>

//  The JS SDK Login Button 

</body>
</html>