<!DOCTYPE html>
<html>
	<head>
		<title>THs is my webpage</title>
		<link rel="icon" href="/img/weather.png">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/uikit.min.css" />
		<link rel="stylesheet" href="/css/styles.css">
		<script src="js/uikit.min.js"></script>
		<script src="js/uikit-icons.min.js"></script>
        
	</head>
	<body>
		<div class="main-content">
			{{>header}}		
			<p>Signup page</p>
			<form>
				<label for="Username">Username : </label><input id="Username" type="text/plain" placeholder="username" minlength="5" maxlength="12" size="12"/><br/>
				<label for="Password">Password : </label><input id="Password" type="password" placeholder="password" minlength="6" size="13"/><br/>
				<label for="EmailUser">Email : </label><input id="EmailUser" type="email" placeholder="Email" size="25"/><br/>
				<label for="AgeUser">Age :</label><input id="AgeUser" type="number" placeholder="AgeUser" maxlength="3"/><br/>
				<button id="SubmitDetails">Submit</button>
			</form>
			<pre id="locationpara"> </pre>
			<img style="vertical-align:middle;" src="" id="imageBox"/><pre style="vertical-align:middle; display:inline;" id="currentpara"></pre>
			<p id="forecastpara"></p>
		</div>
		
		
		{{>footer}}
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/signup.js"></script>
	</body>
</html>	
		
