<footer>
    <div style="text-align:center;"> 
          
        <a href="mailto:2000harshgupta@gmail.com"><span class="uk-icon uk-margin-small-right lk-below" uk-icon="icon: mail"></span>
        We welcome your honest and valuable feedback</a>
        <br/>
        <a href="https://twitter.com/0907_harsh" class="uk-icon-button uk-margin-small-right" style="color: aqua;" uk-icon="twitter" target="_blank"></a>
        <a href="https://www.facebook.com/DevHarsh-101761841592942" class="uk-icon-button  uk-margin-small-right" style="color: rgb(52, 111, 223);" uk-icon="facebook" target="_blank"></a>
        <a href="https://www.linkedin.com/in/0907harsh" target="_blank" class="uk-icon-button" style="color: rgb(33, 4, 80);" uk-icon="linkedin"></a>
        <a href="https://www.youtube.com/channel/UClCv1GZapo54K6SB2iiB5vA" class="uk-icon-button" style="color: rgb(245, 93, 22);" uk-icon="youtube" target="_blank"></a>
        <a href="intent://send/+918933822842#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" class="uk-icon-button" style="color: rgb(54, 182, 64);" target="_blank" uk-icon="whatsapp"></a>
        
        <br/><code>Copright By {{name}}</code>
    </div>
</footer>
