<footer>
    <div style="text-align:center;"> 
          
        <a href="mailto:2000harshgupta@gmail.com"><span class="uk-icon uk-margin-small-right lk-below" uk-icon="icon: mail"></span>
        We welcome your honest and valuable feedback</a>
        <br/>
        <a href="" class="uk-icon-button uk-margin-small-right" style="color: aqua;" uk-icon="twitter"></a>
        <a href="" class="uk-icon-button  uk-margin-small-right" style="color: rgb(52, 111, 223);" uk-icon="facebook"></a>
        <a href="https://www.linkedin.com/in/harsh-gupta-2a67711b0?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B5ONDPHfaRe6VVwoZ2MQhhQ%3D%3D" class="uk-icon-button" style="color: rgb(33, 4, 80);" uk-icon="linkedin"></a>
        <a href="" class="uk-icon-button" style="color: rgb(245, 93, 22);" uk-icon="youtube"></a>
        <a href="intent://send/+918933822842#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" class="uk-icon-button" style="color: rgb(54, 182, 64);" uk-icon="whatsapp"></a>
        
        <br/><code>Copright By {{name}}</code>
    </div>
</footer>
