<footer>
    <div style="text-align:center;">   
    <a href="mailto:2000harshgupta@gmail.com"><span class="uk-icon uk-margin-small-right lk-below" uk-icon="icon: mail"></span>
    We welcome your honest and valuable feedback</a>
    <br/><code>Copright By {{name}}</code>
    </div>
</footer>
