body {
    color:#212121;
    font-family:arial;
    margin: 0 10px;
    padding:0 10px;
    display:flex;
    flex-direction: column;
    min-height:100vh;
}
.back_color{
    background-color:rgb(15, 27, 29);
}
img{
    display:inline-block;
}

pre{
    font-family:Arial, sans-serif;
    
}

.main-content{
    flex-grow: 1;
}
footer{
    color: #888888;
    border-top:1px solid #eeeeee;
    padding:16px;
    margin-top:16px;
    padding :16px 0;

}
header{
    margin-top:16px;
    margin-bottom: 40px;
}
h1{
    font-size:64px;
    margin-bottom: 16px;
}
.lk-below {
    position: relative; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
}
header a{
    color: #212121;
    margin-right: 16px;
    text-decoration: none;
}
.portrait {
    width:250px;
}

input{
    border: 1px solid #cccccc;
    padding: 8px;
}

button{
    cursor: pointer;
    border:1px solid #888888;
    background:#888888;
    color: white;
    padding :8px;
}

button:disabled{
    background:#cec7c7;
}